<ion-view title="navTitle" left-buttons="leftButtons" right-buttons="rightButtons">


    <ion-content has-header="true" padding="true">
        <div class="card">
            <div class="row">
                <div class="col-20"><i class="icon button-large button-icon  ion-code-download"></i></div>
                <div class="col align"><a ng-click="linkTo('https://github.com/hollyschinsky/MediaExplorerMobile')" href="">Download</a> the Source</div>
            </div>
            <div class="row">
                <div class="col-20"><i class="icon button-large button-icon ion-ios7-information"></i></div>
                <div class="col align">Read more about <a ng-click="linkTo('http://devgirl.org/2014/03/12/sample-phonegap-application-media-explorer-with-angularjsionic')" href="">this app</a>...</div>
            </div>
            <div class="row">
                <div class="col-20"><i class="icon button-large button-icon ion-social-twitter"></i></div>
                <div class="col align">Follow me on <a ng-click="linkTo('http://twitter.com/devgirlfl')" href="">Twitter</a></div>
            </div>
            <div class="row">
                <div class="col-20"><i class="icon button-large button-icon ion-social-wordpress"></i></div>
                <div class="col align">Check out <a ng-click="linkTo('http://devgirl.org')" href="">My Blog</a></div>
            </div>
        </div>
    </ion-content>

</ion-view>
